p{


    color: blue;
    border-radius: 50%;
    background-color: yellow;
    border-width: 1px;
    width: 200px;
    height: 200px;
    
    border-style: solid;
    margin: 200px;
    margin-left: 670px;
    padding: 100px;


}
.cybtext{
    color: red;

}
#newtext{

color:blueviolet

}